.summary {
    
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 55rem;
    width: 50%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #3E24A7;
    color: white;
    border-radius: 20px;
    padding: 8px;
    
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }