.products {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(221, 33, 33);
  }
  
  .products h2 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-family: 'Poppins', sans-serif;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #d86418;
    font-size: 1.25rem;
  }